{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'sms.css' %}">
</head>
<div id="bg"></div>

<form action="/insertTask">
  <center>
    <h1>Insert Page</h1></center>
  <div class="form-field">
    <input type="text" placeholder="Product Name" name="name" required />
  </div>
  <div class="form-field">
    <input type="text" placeholder=" Enter Product Brand" name="brand" required />
  </div>
  <div class="form-field">
    <input type="text" placeholder=" Enter Price" name="price" required />
  </div>
  <div class="form-field">
    <input type="text" placeholder=" Enter Quantity" name="quantity" required />
  </div>
  <div class="form-field">
    <input type="text" placeholder="Enter Category" name="category" required />
  </div>
  <div class="form-field">
    <button class="btn" type="submit">Submit</button>
  </div>
</form>
</body>

</html>